<%= form_for(@calendar) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.datetime_select :start_date, placeholder: "Compose new micropost..." %>
  </div>
  <div class="field">
    <%= f.text_field :how_often, placeholder: "Compose new micropost..." %>
  </div>
  <div class="field">
    <%= f.text_field :how_long, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>