<li id="<%= feed_item.id %>">
  <span class="title">Calendar <%= feed_item.id %> </span>
  <div class="show-field">
    <span class="content-label">Start Date:</span>
    <span class="content"><%= feed_item.start_date.to_formatted_s(:long_ordinal) %> </span>
  </div>
  <div class="show-field">
    <span class="content-label">How Long:</span>
    <span class="content"><%= feed_item.how_long %> </span>
  </div>
  <div class="show-field">
    <span class="content-label">How Often:</span>
    <span class="content"><%= feed_item.how_often %> </span>
  </div>
  <div class="show-field">
    <span class="content-label">Actions: </span>
    <span class="content">
      <ul class="subitems">
        <%= render partial: 'shared/action_item', collection: feed_item.actions %>
      </ul>
    </span>
  </div>
  <div class="show-field">
    <span class="content-label">Calendar items:</span>
    <span class="content">
      <ul class="subitems">
        <%= render partial: 'shared/calendar_item_item', collection: feed_item.calendar_items %>
      </ul>
    </span>
  </div>
  <span class="timestamp">
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
  <% if current_user?(feed_item.user) %>
    <%= link_to "delete", feed_item, method: :delete,data: {confirm: "You sure?"}, title: feed_item.id %>
  <% end %>
</li>