<%= form_for(@calendar) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :products_hash, :value => "" %>
  Start Date:
  <div class="field">
    <%= f.datetime_select :start_date%>
  </div>
  How often:
  <div class="field">
    <%= f.text_field :how_often, placeholder: "eg. daily, weekly, monthly" %>
  </div>
  How long:
  <div class="field">
    <%= f.text_field :how_long, placeholder: "eg. 1 year, 2 months" %>
  </div>

  <div class="field">
    <%= f.fields_for :calendars_products do |ff| %>
      Product ID
      <div class="field">
        <%= ff.text_field :product_id%>
      </div>

      Quantity:
      <div class="field">
        <%= ff.text_field :quantity%>
      </div>

      <%= ff.submit "Confirm", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>

  <%= f.submit "Add", class: "btn btn-large btn-primary" %>
<% end %>