<% provide(:title, @business.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @business %>
        <%= @business.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <section>
      <h3>Create a Product</h3>
      <%= render 'form' %>
    </section>
    <% if @products.any? %>
      <h3>Products (<%= @products.count %>)</h3>
      <ol class="products">
        <%= render partial: 'show', collection: @products, as: :product %>
      </ol>
      <%= will_paginate @products %>
    <% end %>
  </div>
</div>